# Python cache files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Byte-compiled binary files
*.so
